* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

/* Header */
header {
    padding: 25px;
}

#header-img {
    max-width: 350px;
    position: relative;
    margin: 0 auto;
}

#header-img h1 {
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 40px;
    z-index: 1;
}

#header-des {
    box-shadow: 2px 2px 6px #999;
    padding: 15px;
}

#header-des h2 {
    font-size: 30px;
    margin-top: 20px;
}

#header-des p {
    color: #555;
}

#header-icon {
    text-align: center;
}

#header-icon i {
    font-size: 30px;
    margin: 10px 5px;
}

/* Main */
main {
    padding: 25px;
}

main h2 {
    margin-bottom: 10px;
}

.projects {
    margin: 0 auto 50px;
    box-shadow: 2px 2px 6px #999;
}

.projects p {
    padding: 0 10px 10px;
}

.projects img {
    margin-bottom: 10px;
}

/* footer */
footer {
    color: white;
    background-color: #13728a;
}

footer .address {
    padding: 25px;
}

footer .icon-container {
    color: black;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

/* Default styles and utilize classes */
img {
    display: block;
    max-width: 100%;
}

p {
    word-wrap: break-word;
}

h2 {
    text-align: center;
}

.grid-one {
    display: grid;
    grid-template-columns: 1fr;
}

.grid-two {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
}

@media (min-width: 1024px) {

    header,
    main,
    footer {
        padding: 50px;
    }

    h2 {
        text-align: left;
    }   

    .grid-one {
        display: grid;
        grid-template-columns: 400px 1fr;
        align-items: center;
        justify-content: center;
    }

    #header-img {
        margin: 0;
        max-width: 100%;
    }

    #header-img img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    #header-des {
        height: 350px;
    }

    #header-des #header-icon {
        float: right;
    }

    #project-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .projects {
        max-width: 250px;
    }

    footer .address {
        max-width: 100% !important;
    }
}