/* Default styles */
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

img {
    display: block;
    max-width: 100%;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

p {
    word-wrap: break-word;
}

/* Header */
header {
    padding: 50px;
}

#header-img {
    position: relative;
    box-shadow: 2px 2px 6px #999;
    overflow: hidden;
}

#header-img img,
footer img {
    object-fit: cover;
    width: 100%;
    height: auto;
    max-height: 500px;
}

#header-img h1 {
    position: absolute;
    bottom: 0;
    color: white;
    z-index: 1;
}

#header-des {
    box-shadow: 2px 2px 6px #999;
    padding: 15px;
    height: 100%;
    max-height: 400px;
}

#header-des h2 {
    margin-top: 20px;
}

#header-des p {
    color: #555;
}

#header-icon {
    float: right;
    margin-top: 20px;
}

#header-icon i {
    font-size: 30px;
    margin: 10px 5px;
}

/* Main */
main {
    padding: 50px;
}

main h2 {
    margin-bottom: 10px;
}

#project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.projects {
    margin-bottom: 30px;
    box-shadow: 2px 2px 6px #999;
}

.project-des div {
    margin: 0 auto;
}

.projects p {
    padding: 0 15px 15px;
    margin: 0 auto;
}

.projects img {
    margin-bottom: 10px;
}

/* footer */
footer {
    color: white;
    background-color: #13728a;
    padding: 50px;
}

footer .icon-container {
    color: black;
    font-size: 40px;
    margin-bottom: 10px;
}

/* utilize classes */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
}

.grid-two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* Responsive */
@media (max-width: 768px) {

    header,
    main {
        padding: 40px;
    }

    #header-img {
        box-shadow: none;
    }

    #header-img img,
    footer img {
        max-height: 300px;
    }

    #header-icon {
        display: none;
    }
}

@media (max-width: 426px) {
    h2 {
        text-align: center;
    }

    header,
    main {
        padding: 20px;
    }

    #header-icon {
        display: block;
    }

    #header-des {
        box-shadow: none;
    }

    footer {
        padding: 0;
    }

    footer .address {
        padding: 20px;
    }

    footer .address .icon-container {
        text-align: center;
    }
}